html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  padding: 0;
  padding-right: var(--scrollbar-width);
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #F6F6F6;
  font: normal 100 1rem/1.8 'Montserrat', sans-serif;
  color: #666666;  
}

p, h1, h2, h3{
  margin: 0;
  padding: 0;
}

h1{  
  margin: 2rem 0 2rem 0;
  font:bold 2.5rem 'Merriweather', serif;
  color: #03759e;
}

main{
  margin-top: 4rem;
  display: block;
  overflow: visible;
  flex-grow: 1;
}

.container{
  margin: 0 auto;
  padding: 0;
  display: block;
  overflow: visible;;
  width: 90%;
  max-width: 1000px;  
}

.section{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center start;
  gap: 6rem;    
}

/*top navigation*/
nav{
  margin: 0;
  padding: 0;
  height: 4.375rem;   
  background: #ffffff;    
}

nav ul{
  padding: 0 0 0 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;   
}

nav ul li{
  margin: 0 1rem 0 0;
  padding: 0;
}

nav ul li a{
  padding: .2rem .4rem;
  margin: 1.8rem 0 0 0;
  display: block;
  font: 1.125rem 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: #333333;   
}

nav ul li a:hover{
  padding: .2rem .4rem;
  border-radius: .5rem;
  color: #03759e;
  background: #F6F6F6;
  transition: background-color 0.3s ease;   
}

nav ul li a.active{
  color: #03759e;
}

nav ul li.linkedin{
  margin: 0;
}

nav ul li.linkedin a{
  margin: 1.2rem 0 0 0;
  display: block;
  border-radius: 0;
}

nav ul li.linkedin a:hover{
  content: url(images/logo_linkedin_hover.png);
  background: none;
}

/*logo section top*/
.logo{
  margin: 1.4rem 0 0 0;  
  font:bold 1.6rem 'Merriweather', serif;
}

.logo.hidden{
  visibility: hidden;
}

.logo a{
  color: #03759e;
  text-decoration: none;
}

.logo a:hover{
  color: #333333;
}

/*sections*/
section{
  overflow: hidden;
  visibility: hidden;
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.25s ease-in;
  height: 0;
}

section.active{
  overflow:visible; 
  visibility: visible;
  display: block;
  opacity: 1;
  transform: translateY(0);
  height: auto;
  min-height: 60vh; 
}

.content{
  flex: 1;
  background-color: transparent;
}

footer{
  margin: 3rem 0 0 0;
  padding: 2rem 0 1rem 0;
  display: block;
  bottom: 0;
  position:relative;
  width: 100%;
  text-align: right;
  font-size:.8rem;
  background-color: #EDEDED;
  color:  #000000;
}

/*home, about styles*/
.profile-photo {
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 50%;
  border: 10px solid #03759e;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .8);
}

.profile-photo.about {
  margin-top: .8rem;
  width: 12rem;
  height: 12rem;
}

/*experience styles*/
.entry{
  margin: 0 0 3.5rem 0;
}

.title{
  margin: 0 0 .5rem 0;
  padding:0;
  font: 600 1.125rem 'Roboto Flex', serif;
  color: #666666;   
}

.company-name{
  margin: 0 0 0.5rem 0;
  padding: 0;
  font: 500 1.125rem 'Roboto Flex', serif;
  color: #03759e;
}

.date{
  margin:0 0 .7rem 0;
  font-size: .8rem;
  color: #000000;   
}

/*work - gallery styles*/
.gallery {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 1.75rem;
  justify-content: center;
}

.gallery img {
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: .01rem .04rem .07rem .04rem rgba(0,0,0, 0.1);
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/*lightbox styles*/
#lightbox {
  display: none;
  position: fixed;
  inset: 0; 
  width: 100vw;
  height: 100vh;
  overflow: auto;
  align-items: center;
  background: rgba(100, 100, 100, 0.9);
  z-index: 9999;  
}

#lightbox.active {
  display: block;
}

.lightbox-content img{
  margin: 2rem auto;
  border: 10px solid #ffffff;
}

.lightbox-img {
  margin: 0 auto;max-width: 100vw;
  display: block;
  max-height: 90%;
}

.wrapper {
  max-height: 100vh;
  width: 100vw;
  overflow: auto;
}

.nav-btn {
  padding: 0.2rem .7rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 20%;
  color: #ffffff;
  background-color:transparent;
  font-size: 2rem; 
  cursor: pointer;
  z-index: 10000;
}

#prev-btn {
  left: 5rem;
}

#next-btn {
  right: 5rem;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


/* Extra small devices (phones) */
@media (max-width: 575.98px) {

  body{
    font-size: .8rem;
    line-height: 1.6;
  }

  .container {
    width: 95%;
  }

  .section{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center start;
  gap: 1rem;    
}

main{
  margin-top: 2rem;
  padding: 0 .5rem 0 .5rem;
}
#home .section, #about .section{
  flex-direction:column;
}

  .profile-photo {
    margin: auto;
    width: 10rem;
    height: 10rem;
  }

    .profile-photo.about {
    margin: auto;
    width: 7rem;
    height: 7rem;
  }

  h1 {
    font-size: 1.2rem;
    text-align: center;
  }


  /*top navigation*/
nav ul li a{
  font-size: .75rem; 
}

nav ul li.linkedin a img{
  margin: .8rem 0 0 0;
  width: 18px;
  height: 18px;
  display: block;
  border-radius: 0;
}
nav ul li.linkedin a:hover, nav ul li.linkedin a:active, nav ul li.linkedin a:visited{
  content: url(images/logo_linkedin_hover.png);
  background: none;
  margin: 2rem 0 0 0;
   width: 18px;
  height: 18px;
}

  nav ul li {
    margin: 0.4rem 0;
  }

  .logo{
  margin: 2.2rem 0 0 0;  
  font:bold .9rem 'Merriweather', serif;
}

.entry{
  margin: 0 0 2rem 0;
}

.title, .company-name{
  font-size: 1rem;
}
.date{
  font-size: .7rem;
}
  .gallery {
    flex-direction:column;
    align-items: center;
    gap: 1rem;
  }

  .gallery img {
    width: 10rem;
}

.lightbox-img {
    margin: 0 auto;
    max-width: 75vw;
    display: block;
    max-height: 90%;
}
  .lightbox-content img {
    width: 90vw;
    height: auto;
  }

  .nav-btn {
    font-size: 1.5rem;
  }

  #prev-btn {
    left: .3rem;
  }

  #next-btn {
    right: .3rem;
  }
}

/* Small to medium devices (tablets) */
@media (min-width: 576px) and (max-width: 991.98px) {
 body{
    padding-right: 0;
  }

  .section{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center start;
  gap: 1rem;    
}

main{
  padding: 0 .5rem 0 .5rem;
}

#home .section, #about .section{
  flex-direction:column;
}

  .profile-photo {
    margin: auto;
    width: 12rem;
    height: 12rem;
  }

    .profile-photo.about {
    margin: auto;
    width: 10rem;
    height: 10rem;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  nav{
  padding-top: .5rem;
  height: 5rem;      
}

  /*top navigation*/
nav ul li a{
  font-size: 1rem; 
}

nav ul li.linkedin a img{
  margin: .9rem 0 0 0;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 0;
}

nav ul li.linkedin a:hover, nav ul li.linkedin a:active, nav ul li.linkedin a:visited{
  content: url(images/logo_linkedin_hover.png);
   margin: 2.1rem 0 0 0;
   width: 20px;
  height: 20px;
}

  nav ul li {
    margin: 0.4rem 0.7rem .4rem 0;
  }

  .logo{
  margin: 2.1rem 0 0 0;  
  font:bold 1.2rem 'Merriweather', serif;
}

.entry{
  margin: 0 0 3.5rem 0;
}

.title, .company-name{
  font-size: 1.05rem;
}
.date{
  font-size: .8rem;
}
  .gallery {
    margin-top: 2rem;
    flex-direction:row;
    align-items: center;
    padding: 0 2rem 0 2rem;
    gap: 2.5rem;
  }

  .gallery img {
    width: 13rem;
}

.lightbox-img {
    margin: 0 auto;
    max-width: 75vw;
    display: block;
    max-height: 90%;
}
  .lightbox-content img {
    width: 80vw;
    height: auto;
    max-height: 90vh;
  }

  .nav-btn {
    font-size: 1.8rem;
  }

  #prev-btn {
    left: 2rem;
  }

  #next-btn {
    right: 2rem;
  }
  footer{
    margin: 0;
  }
}